@model Laboration1.Models.Game

@{
    ViewData["Title"] = "Delete Game";
}

<div class="container mt-4">
    <h1>Delete Game</h1>

    <h3>Are you sure you want to delete this?</h3>

    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">@Model.GameName</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">Platform:</dt>
                <dd class="col-sm-10">@Model.Platform</dd>

                <dt class="col-sm-2">Play Time:</dt>
                <dd class="col-sm-10">@Model.PlayTime</dd>

                <dt class="col-sm-2">Rating:</dt>
                <dd class="col-sm-10">@Model.Rating</dd>

                <dt class="col-sm-2">Comment:</dt>
                <dd class="col-sm-10">@Model.Comment</dd>

                <dt class="col-sm-2">Registration Date:</dt>
                <dd class="col-sm-10">@Model.RegistrationDate</dd>

                <dt class="col-sm-2">Game ID:</dt>
                <dd class="col-sm-10">@Model.gameId</dd>
            </dl>

            <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="@Model.gameId" />

            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>