@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@* @using MultipleModelInOneView; *@


@model GameViewModel

@{
    ViewData["Title"] = "Library";
}

<h2>Your Game Library</h2>
<h4>@ViewBag.Message</h4>

<hr />

<table>
    <tr class="col-md-10 row-cols-6">
        <th>Title</th>
        <th>Platform</th>
        <th>Playtime</th>
        <th>Rating</th>
        <th>Comment</th>
        <th>Date</th>
        <th></th>
    </tr>
    @foreach (var game in Model.Games)
    {
        <tr class="col-md-10 row-cols-6">
            <td>@game.GameName</td>
            <td>@game.Platform</td>
            <td>@game.PlayTime</td>
            <td>@game.Rating</td>
            <td>@game.Comment</td>
            <td>@(game.RegistrationDate.HasValue ? game.RegistrationDate.Value.ToString("yyyy-MM-dd") : "")</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = game.gameId}) |
                @Html.ActionLink("Delete", "Delete", new {id = game.gameId})
            </td>
        </tr>
    }
</table>

<br/>
<hr/>
<p>Antal spel: @ViewData["gameCounter"]</p>
